
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Order Success";
}

<div class="alert alert-success">
    @ViewBag.SuccessMessage
</div>
